@model IEnumerable<ManagerRequest>

<h2>Одобрени заявки</h2>

<table class="table">
    <thead>
        <tr>
            <th>Отбор</th>
            <th>Потребител</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Team?.Name</td>
                <td>@request.User?.UserName</td>
                <td>
                    <form asp-action="RevertToPending" asp-route-id="@request.Id" method="post">
                        <button type="submit" class="btn btn-warning btn-sm">Към чакащи</button>
                    </form>
                </td>
            </tr>
        }
        <form asp-action="Index"  method="get">
            <button type="submit" class="btn btn-warning btn-sm">Към "Заявки за участие в турнир"</button>
        </form>

    </tbody>
</table>
